body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

#head {
    padding: 15px;
    height: 30px;
}

ul {
    list-style: none;
    text-align: center;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 20px;
}

ul > li {
    display: inline;
    text-transform: uppercase;
    padding: 0px 20px;
    font-size: 30px;
    letter-spacing: 10px;
}

#left {
    float: left;
    position: relative;
    top: 3px;
    margin-bottom: 3px;
}

table {
    border-collapse: collapse;
}

tr {
    background-color: black;
    color: white;
    border: 1px solid black;
    width: 50px;
    height: 30px;
}

td {
    padding: 10px;
}

#se {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding: 10px;
    width: 600px;
    height: 360px;
    float: left;    
}

#sw, #sc {
    float: left;
    width: 50%; /* 화면의 절반 크기로 지정하여 두 요소를 나란히 배치 */
    box-sizing: border-box; /* 요소의 패딩과 테두리를 포함한 전체 너비 설정 */
    border: 1px solid red;
}
#ri {
    float: left;
    margin-left: 10px;
}

#sh {
    position: absolute;
    top: 140px;
}

#log {
    position: absolute;
    top: 300px;
}

#footer {
    margin: 0px 0px 0px 0px;
    padding: 5px;
    clear: both;
}