body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: white;
}

#ss {
    text-align: center;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: green;
}

img:hover {
    transform: scale(1.2);
}