body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: white;
}

.ss {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.se {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.se img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.se img:hover {
    transform: scale(2);
}