#sq {
    background-color: yellow;
}

#sw {
    margin:  10px;
    padding: 20px;
    background-color: yellow;
}

#se {
    margin: 15px;
    background-color: yellow;
}

#sr {
    margin: 20px;
    padding:  20px;
    background-color: yellow;
}